<div class="container">
  <div class="row">
    <form action="./<%= viewData?.todo.id %>/update" method="post" class="col s12">
      <div class="row">
        <div class="input-field col s9">
          <input placeholder="Placeholder" name="title" id="titleInput" type="text" value="<%= viewData?.todo.title %>" class="validate">
          <label for="titleInput">ToDo Title</label>
        </div>
        <div class="col s3">
          <button class="waves-effect waves-teal btn" type="submit">Update</button>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <a class="waves-effect waves-light red btn modal-trigger" href="#delete-confirm">Delete</a>
  </div>
  <div id="delete-confirm" class="modal">
    <div class="modal-content">
      <h4>Delete ToDo</h4>
      <p>Delete this ToDo?</p>
      <p><%= viewData?.todo.title %></p>
    </div>
    <div class="modal-footer">
      <div class="row">
        <form action="./<%= viewData?.todo.id %>/delete" method="post" class="col s1">
          <button class="modal-close waves-effect waves-light red btn" type="submit">Delete</button>
        </form>
        <div class="col s11">
          <a href="./<%= viewData?.todo.id %>/update/#" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>
