<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Express + Typescript</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <base href="<%= baseURL %>" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="./css/styles.css" />
  <%- defineContent('style') %>
  <%- defineContent('script') %>
</head>

<body>
  <main role="main" class="container">
    <%- body %>
  </main>
  <%- include('../partials/footer') %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>